<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>expenseschart</servlet-name>
        <servlet-class>expenseschart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>expenseschart</servlet-name>
        <url-pattern>/expenseschart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
       <servlet-name>credithistory</servlet-name>
       <servlet-class>credithistory</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>credithistory</servlet-name>
       <url-pattern>/credithistory</url-pattern>
   </servlet-mapping>
</web-app>
